@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Book

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-light p-1">
        <h4 class="card-header">
            @Model.Title
            <span class="badge bg-info" style="float:right">
                <small>@Model.Price.ToString("c")</small>
            </span>
        </h4>
    </div>

    <div class="card-text text-black-50 p-1">
        <ul>
            <li>@Model.Author</li>
            <li>@Model.Publisher</li>
            <li>@Model.Isbn</li>
            <li>@Model.Category</li>
            <li>@Model.PageCount</li>
        </ul>
    </div>


    <form method="post" asp-page="/Cart">
        
        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-right">Add to Cart</button>
        </span>
    </form>
</div>

